<<<<<<< HEAD
{{#if list}}
=======
>>>>>>> ab3ca40823a3aeb0e307beeac213304a9c49560d
{{#each (reverseList list)}}
<div class="ilmoitukset">
    <div>
        <div class="ilmoitus" key={{ilmoitus_id}}>
            <div>
                <h1>{{advertType ilmoitus_laji}}: {{ilmoitus_nimi}} </h1>
                <h3>{{ilmoitus_kuvaus}}</h3>
            </div>
            <div>
<<<<<<< HEAD
=======

>>>>>>> ab3ca40823a3aeb0e307beeac213304a9c49560d
            </div>
            <div class="container-advertBottom">
                <div class="itemB">
                    <h5>Ilmoittaja: {{getUser ../users ilmoittaja_id}}</h5>
                </div>

                <div class="itemA">
                    <h5>Ilmoitus jätetty: {{formatDate ilmoitus_paivays}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
<<<<<<< HEAD
{{else}}
<div>
    <p>
    <h2 style="text-align: center;">Haku ei tuottanut yhtään tulosta :/</h2>
    </p>
</div>
{{/if}}
=======


>>>>>>> ab3ca40823a3aeb0e307beeac213304a9c49560d
