<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/styles.css">    
    <title>Osto ja myyntikanava</title>
</head>
<body>
    
    <div>
    </div>

    <div>
        {{#list}}        
            <div class="ilmoitukset">
                <div class="ilmoitus" key={{ilmoitus_id}}>
                    <div>
                        <h1>{{ilmoitusLaji ilmoitus_laji}}: {{ilmoitus_nimi}}</h1>
                        <h3>{{ilmoitus_kuvaus}}</h3>
                    </div>
                    <div>
                        <h5>Ilmoittaja: {{findUser ../users ilmoittaja_id}}</h5>                
                    </div>
                </div>     
            </div>
        {{/list}}
    </div>
    
</body>
</html>

https://www.youtube.com/watch?v=1aXZQcG2Y6I