<html lang="fi">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/styles/styles.css" />
  <title>Osto ja myyntikanava</title>
</head>

<body>

  <div class="profileInformation">
    <h4>Kirjautuneena: {{user.kayttaja_tunnus}}</h4>
    <a href="/editUser/{{user.kayttaja_id}}"><button class="button">Muokkaa profiilia</button></a>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="card-profile-text">
        <div class="card-profile-title">
          <h2 style="text-align: center;">Omat ilmoitukset</h2>
        </div>
        <div>
          {{#list}}
          <div class="ilmoitukset">
            <div class="ilmoitus" key={{ilmoitus_id}}>
              <div>
                <h1>{{ilmoitusLaji ilmoitus_laji}}: {{ilmoitus_nimi}}</h1>
                <h3>{{ilmoitus_kuvaus}}</h3>
                <a href="/editAdvert/{{ilmoitus_id}}"><button class="button">Muokkaa</button></a>
                <a href="/deleteAdvert/{{ilmoitus_id}}"><button class="button">Poista</button></a>
              </div>
            </div>
          </div>
          {{/list}}
        </div>
      </div>
    </div>
  </div>
</body>

</html>